<p-dialog header="{{isEdit ? 'Update Product' : 'Create Product'}}" 
        [(visible)]="displayModal" 
        [modal]="true" 
        [style]="{width: '50vw'}"
        [draggable]="false"
        [closable]="false" 
        [resizable]="false">
        <i class="uil uil-x close-icon" (click)="closeModal()"></i>
        <div *ngIf="showError" class="error-message">
            Please fill all the fields
        </div>
    <form [formGroup]="formJobs" autocomplete="off">
        <input type="text" formControlName='company' placeholder="Company">
        <input type="text" formControlName='position' placeholder="Position">
        <select formControlName='status' class="form-control">
            <option *ngFor="let state of statusOptions"
                    value="{{state}}">{{ state | titlecase }}</option>
        </select>
    </form>
        <ng-template pTemplate="footer">
        <button (click)="updateCreateJob()" class="p-button-text">
            {{isEdit ? 'Update' : 'Create'}}
        </button>
        </ng-template>
</p-dialog>
