form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form > * {
    width: 180px;
    margin-top: 10px;
    padding: 3px 0px;
    border-radius: 5px;
    border: none;
    background-color: var(--main-color-light);
    text-align: center;
}

.error-message {
    width: fit-content;
    padding: 0 10px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-color: rgb(255, 71, 71, 0.2);
    border: 2px rgb(255, 71, 71) solid;
    color: rgb(255, 71, 71);
    border-radius: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.close-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.p-button-text {
    padding: 1px 5px;
    background-color: var(--main-color-light);
    color: var(--main-color-dark);
    padding: 1px 5px;
    border-radius: 5px;
    border: none;
    transition: 0s background-color
}

.p-button-text:hover {
    background-color: var(--main-color-dark);
    color: var(--main-color-light);
    transition-delay: 0.15s;
}