<section class="animate__animated animate__fadeIn">
    
    <app-header></app-header>

    <main class="home-container">
        <div>
            <h1>Job App handler</h1>
            <p>
                In this application you can create and save different jobs you find,
                have a record of them, update them and delete them when you decide
                that you no longer want to have them. Yes, basically it is a CRUD with authentication. 
            </p>
            <a class="login-btn" routerLink="/register">Login/Register</a>
        </div>
        <img  class="home-image animate__animated animate__fadeIn" src="assets/images/ilustration-home.png" alt="">
    </main>
</section>
