
    <app-header></app-header>
    <button class="btn-logout" (click)="logout()">Log Out</button>
    <main>
            <div class="card card-body container animate__animated animate__fadeIn">
                <button class="create-button" (click)="createJob()">Create</button>
                <!--Table-->
                <table class="table table-striped" *ngIf="jobs.length > 0">
                    <!--Table head-->
                    <thead>
                        <tr>
                            <th class="num-column">#</th>
                            <th class="text-center">Company</th>
                            <th class="text-center">Position</th>
                            <th class="text-center">Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <!--Table head-->
                    <!--Table body-->
                    <tbody>
                        
                        <tr *ngFor="let job of jobs; let i = index">
                            <th class="num-column">{{ i + 1}}</th>
                            <td>{{ job.company }}</td>
                            <td>{{ job.position }}</td>
                            <td class="text-center status-column">
                                <div *ngIf="job.status === 'pending'" class="status-icon blue">
                                    <i class="uil uil-fast-mail"></i>
                                    <small>{{job.status}}</small>
                                </div>
                                <div *ngIf="job.status === 'interview'" class="status-icon green">
                                    <i  class="uil uil-users-alt"></i>
                                    <small>{{job.status}}</small>
                                </div>
                                <div *ngIf="job.status === 'declined'" class="status-icon red">
                                    <i  class="uil uil-user-times"></i>
                                    <small>{{job.status}}</small>
                                </div>
                            </td>
                            <td class="action-buttons text-center">
                                <i class="uil uil-edit-alt" (click)="editJob(job._id)"></i>
                                <i class="uil uil-trash-alt" (click)="deleteJob(job._id, job.company)"></i>
                            </td>
                        </tr>
                        
                    </tbody>
        
                </table>
                <!--Table-->
                <div *ngIf="jobs.length === 0">
                    <h2 >You haven't create any jobs yet. Create one.</h2>
                </div>

                <div *ngIf="displayModal">
                    <app-modal-jobs [isEdit]="isEdit" 
                                    [job]="selectJob" 
                                    [displayModal]="displayModal" 
                                    (loadJobs)="getAllJobs()"
                                    (isDisplayed)="displayModal = $event"
                                    ></app-modal-jobs>
                </div>
            </div>
    </main>
    <br><br><br>

    <footer>
        Made by <a href="https://www.github.com/AndresH1213">AndresHernandez</a>
    </footer>

