main {
    width: 55%;
    height: max-content;
    margin: auto;
    margin-top: 2%;
}

td {
    padding: 6px;
}

.card-body {
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: center;
    align-items: center;
}

.status-column {
    padding: 2px;
    padding-bottom: 0px;
}

.status-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status-icon i {
    font-size: 1.2rem;
    color: var(--second-color-dark);
    padding: 0;
}
.status-icon small {
    margin: 0;
    padding: 0;
    color: lightslategray;
    transform: translateY(-8px);
    font-size: 0.5rem;
}

.blue {color: var(--main-color-dark);}
.red {color: var(--second-color-light);}
.green {color: teal;}

.container {
    display: flex;
    flex-direction: column;
}

.create-button {
    background-color: var(--main-color-dark);
    cursor: pointer;
    color: var(--main-color-light);
    align-self: flex-end;
    padding: 1px 5px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.action-buttons i {
    margin: 0 2px;
    color: var(--second-color-dark);
    font-size: 1.2rem;
    cursor: pointer;
}

.btn-logout {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: var(--second-color-light);
    color: var(--main-color-light);
    border-radius: 5px;
    border: none;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


footer {
    padding: 1% 5%;
    text-align:center;
    background-color: var(--main-color-dark);
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer a {
    color: var(--second-color-light);
    font-weight: 500;
    text-decoration: none;
}

@media only screen and (max-width: 650px) {
    main {
        width: 80%;
        font-size: 14px;
    }
}

@media only screen and (max-width: 400px) {
    main {
        width: 100%;
        font-size: 12px;
    }
    .btn-logout {
        display: inline-block;
        margin: auto;
        position: relative;
        top: 0;
        right: 0;
    }
    .num-column {
        display: none;
    }
}